@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
  font-family: 'Playfair Display', serif;
  font-size: 15px;
}

.below-nav {
  padding-top: 5rem;
}

.below-nav-2 {
  margin-top: 30px;
}

.loading {
  height: 20vh !important;
}